<!DOCTYPE html>
<html>

<head>
  <link href="./css/styles.css" rel="stylesheet" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    function deleteTodo(id) {
      fetch(`/todos/${id}`, {
        method: 'DELETE'
      }).then((response) => {
        if (response.ok) {
          window.location.reload();
        }
      });
    }

    function updateTodo(id) {
      fetch(`/todos/${id}/markAsCompleted`, {
        method: 'PUT'
      }).then((response) => {
        if (response.ok) {
          window.location.reload();
        }
      });
    }
  </script>
</head>

<body>
  <div class="grid grid-cols-6">
    <div class="col-start-3 col-span-2">
      <%- include ('header.ejs') %>
        <form action="/todos" method="post">
          <div class="flex gap-2 py-2">
            <div class="flex-auto">
              <input type="text" name="title" placeholder="What's next?"
                class="border border-black-300 text-black-600 rounded w-full p-2 text-sm leading-4"
                style="padding-bottom: 7px;" required />
            </div>
            <div class="flex-auto">
              <input type="date" name="dueDate"
                class="border border-black-300 rounded text-black-600 w-full p-2 text-sm leading-4"
                style="padding-bottom: 5px;" />
            </div>

            <div class="flex-none">
              <button type="submit" class="bg-green-600 text-white px-5 py-2 rounded leading-4 font-medium"
                style="padding-bottom: 7px;">Add</button>
            </div>
          </div>
        </form>

        <div>
          <%- include('todo.ejs', {title:"OverDue", data:overDue}) %>
            <%- include('todo.ejs', {title:"Due Today", data:dueToday}) %>
              <%- include('todo.ejs', {title:"Due Later", data:dueLater}) %>
        </div>

        <%- include ('footer.ejs') %>
    </div>

  </div>
</body>

</html>