<!DOCTYPE html>
<html>

<head>
    <link href="./css/styles.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>

        function deleteAccount(id) {
            fetch(`/deleteAccount/${id}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({}),
            }).then((response) => {
                window.location.reload();
            }).catch((error) => {
                console.log(error);
            });
        }


        function updateTodo(id) {
            fetch(`/todos/${id}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    completed: true,
                }),
            }).then((response) => {
                window.location.reload();
            });
        }

        function toggleTodo(id) {
            fetch(`/todos/${id}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    completed: false,
                }),
            }).then((response) => {
                window.location.reload();
            });
        }

        function deleteTodo(id) {
            fetch(`/todos/${id}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({}),
            }).then((response) => {
                window.location.reload();
            }).catch((error) => {
                console.log(error);
            });
        }

    </script>
</head>

<body>
    <br>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <div class="flex items-center justify-between">
                <h1 class="text-2xl font-semibold text-black-600 inline-block">
                    <span class="wave">👋</span>
                    <%= UserName %>
                </h1>

                <div class="flex items-center mt-1">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-4 h-4 inline-block align-middle">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75" />
                    </svg>
                    <a class="text-blue-700 inline-block align-middle ml-1" href="/signout">Sign out</a>
                </div>
            </div>


            <form action="/todos" method="post">
                <div class="flex gap-2 py-4">
                    <div class="flex-auto">
                        <input type="text" name="title" placeholder="What's next?"
                            class="border border-black-300 text-black-600 rounded w-full p-2 text-m leading-4"
                            style="padding-bottom: 6px;" required />
                    </div>

                    <div class="flex-auto">
                        <input type="date" name="dueDate"
                            class="border border-black-300 rounded text-black-600 w-full p-2 text-sm leading-4"
                            style="cursor: pointer" />
                    </div>

                    <div class="flex-none">
                        <button type="submit" class="bg-blue-600 text-white px-5 py-2 rounded leading-4"
                            style="padding-bottom: 12px;">Add</button>
                    </div>
                </div>
            </form>

            <div>
                <%- include('todo.ejs', {title:"Over Due", data:overDue, UserName : UserName}) %>
                    <%- include('todo.ejs', {title:"Due Today", data:dueToday, UserName : UserName}) %>
                        <%- include('todo.ejs', {title:"Due Later", data:dueLater, UserName : UserName}) %>
                            <%- include('completed.ejs', {title:"Completed Items", data:completed, UserName :
                                UserName})%>
            </div>

            <div class="flex justify-center">

                <div class="flex items-center mt-1 justify-content:flex-end">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-5 h-7 mt-1">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M20.25 7.5l-.625 10.632a2.25 2.25 0 01-2.247 2.118H6.622a2.25 2.25 0 01-2.247-2.118L3.75 7.5m6 4.125l2.25 2.25m0 0l2.25 2.25M12 13.875l2.25-2.25M12 13.875l-2.25 2.25M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125z" />
                    </svg>
                    <button id="deleteAccountBtn" onclick="deleteAccount('<%= userId %>')"
                        class="text-blue-700 inline-block align-middle ml-2 mt-1">Delete My Account</button>
                </div>
            </div>


        </div>

    </div>
</body>

</html>